<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect destination="http://ideal2017.guet.edu.cn/ideal/" exactDestination="true" childOnly="true" />
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="default.aspx" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <directoryBrowse showFlags="Date, Time, Size" />
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
